  <body>
    <div class="container">
      <!-- <form> -->
  <form (ngSubmit)="onSubmit()">
    <div class='form-group'>
        <label id='username'>User Name</label>
        <input [(ngModel)]="credentials.username" type='text' id='username' placeholder='Enter your User Name'
         class='form-control' class='form-input-size' name="username" required />
      </div>
    <div class='form-group'>
        <label id='password'>Password</label>
        <input [(ngModel)]="credentials.password" type='password' id='password' placeholder='Enter your Password' 
        class='form-input-size' name="password" required />
    </div>
      <button type="submit">Login</button>
    </form>
    </div>
    </body>
